[Unit]
Description=Smartmeter
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/smartmeter.py
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
